.layout {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: row;
}

div {
    border: 1px dashed lightgrey;
}

.main {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

.aside {
    flex-grow: 1;
}

.important {
    color: darkgoldenrod;
}

body {
    font-family: monospace;
}